*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.component-1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.component-1-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  background-color: #1fedc5;
}
.component-1-container02 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-image {
  width: 100px;
  align-self: center;
  margin-top: 16px;
  object-fit: cover;
  margin-left: 24px;
  margin-right: 32px;
  margin-bottom: 8px;
}
.component-1-container03 {
  flex: 0 0 auto;
  width: 30%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.component-1-select {
  width: 144px;
  height: 48px;
  align-self: flex-end;
  margin-right: 24px;
  background-color: #1fedc5;
}
.component-1-container04 {
  width: 100%;
  height: 758px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.component-1-container05 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.component-1-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-1-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: #ffffff;
  border-style: hidden;
  border-width: 2px;
}
.component-1-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.component-1-text02 {
  align-self: center;
  margin-top: 32px;
  margin-left: 24px;
}
.component-1-container09 {
  width: 100%;
  height: 452px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.component-1-batch1 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.component-1-container10 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox {
  height: 48px;
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-container11 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox01 {
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-batch2 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.component-1-container12 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox02 {
  height: 48px;
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-container13 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox03 {
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-batch3 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.component-1-container14 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox04 {
  height: 48px;
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-container15 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox05 {
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-batch4 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.component-1-container16 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox06 {
  height: 48px;
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-container17 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox07 {
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-batch5 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.component-1-container18 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox08 {
  height: 48px;
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-container19 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox09 {
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-batch6 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.component-1-container20 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox10 {
  height: 48px;
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-container21 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox11 {
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-batch7 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.component-1-container22 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox12 {
  height: 48px;
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-container23 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox13 {
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-batch8 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.component-1-container24 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox14 {
  height: 48px;
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-container25 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox15 {
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-batch9 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.component-1-container26 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox16 {
  height: 48px;
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-container27 {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-checkbox17 {
  margin-left: 24px;
  margin-right: 24px;
}
.component-1-container28 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.component-1-container29 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-1-image1 {
  width: 289px;
  height: 296px;
  object-fit: cover;
}
.component-1-container30 {
  width: 100%;
  height: 86px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.component-1-text21 {
  margin-top: 8px;
  margin-left: 16px;
}
.component-1-textinput {
  width: 90%;
  height: 33px;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 8px;
}
.component-1-container31 {
  width: 100%;
  height: 86px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-container32 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.component-1-text22 {
  margin-top: 16px;
  margin-left: 16px;
}
.component-1-textinput1 {
  width: 170px;
  margin-top: 8px;
  margin-left: 16px;
}
.component-1-container33 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.component-1-text23 {
  margin-top: 16px;
  margin-bottom: 8px;
}
.component-1-textinput2 {
  width: 200px;
}
.component-1-container34 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.component-1-text24 {
  margin-top: 16px;
  margin-left: 16px;
}
.component-1-select1 {
  width: 200px;
  height: 35px;
  margin-top: 16px;
  margin-left: 16px;
}
.component-1-container35 {
  width: 100%;
  height: 86px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-container36 {
  flex: 0 0 auto;
  width: 50%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.component-1-text25 {
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 8px;
}
.component-1-textinput3 {
  margin-left: 16px;
}
.component-1-container37 {
  flex: 0 0 auto;
  width: 50%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.component-1-text26 {
  margin-top: 16px;
  margin-bottom: 8px;
}
.component-1-container38 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.component-1-button {
  margin-left: 16px;
  background-color: #1fedc5;
}
.component-1-container39 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  background-color: #1fedc5;
}
